/* ----------------ABOUT------------ */

#about{
    padding: 50px 0;
    color: rgb(160, 156, 163);
    width: 100%;
    height: 100vh;
    background-image: url(/images/background_flip.png);
    background-size: cover;
    background-position: center;
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 110%;
    height: 510px;
    border-radius: 15px;

}

.about-col-2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: -1px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;

}

.tab-contents ul li a{
    color: #4397f7;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}