

body {
  /* background-color: #7395ae; */
  background-image: radial-gradient(closest-side at 66% 50%, #114163, #03111b, #1e5c88);
  background-attachment: fixed;
  background-position: center;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  color: blueviolet;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  /* transform: rotate(-7deg); */
}
.align {
  display: flex;
  align-items: center;
  padding-left: 250px;
  padding-top: 40px;
  
}
h1 {
  font-size: larger 600px;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  /* transform: rotate(-7deg); */
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  /* transform: rotate(-7deg); */
}


